/* RESET */

html, body, div, span, p,
a {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
body {
	font-size: 62.5%;	/* Reset font to 10px to make ems easier */
	line-height: 1;
	color: #fff;
}
/* RESET END */

html, body { background: #EEEEEE; }
body{ cursor:pointer;  -webkit-transform: translate3d(0, 0, 0); }
a, a:link, a:visited, a:hover, a:active {}
p{
	line-height: 1.2em;
	font-family: Arial, sans-serif;
}
#container {
	border: 1px solid #666;
	display: block;
	background: #FFFFFF;
	/*opacity: 0;*/
	overflow: hidden;
	position: relative;
	z-index: 100;
}
#innerClick,
p,
.item {
	position: absolute;
}
#info,
.mainCopy p{
	opacity:0; display:none;
}

/* ANIMATION */
#anim{
	width: 779px;
	overflow: hidden;
	/*background-color: #df00a0;*/
}
.sp {background-image: url(spritesheet.png); background-repeat:no-repeat; position:absolute; display:none; }
#designpaper { width: 186px; height: 211px; background-position: -5px -136px; left: 336px; top: 38px; }
#coffee{  width: 105px; height: 67px; background-position: -133px -5px; top:0; left:256px; }
#coin{   width: 33px; height: 34px; background-position: -248px -5px; top:132px; left:258px; }
#coinHK{  background-position: -291px -5px; height: 37px; left: 268px; top: 132px; width: 38px; }
#corkscrew{ width: 102px;  height: 121px; background-position: -385px -5px; top:8px; left:148px; }
#cork {    width: 43px; height: 74px; background-position: -332px -5px; top:50px; left: 134px;}
#keys{   width: 90px; height: 134px;  background-position: -201px -136px; top:70px; left:208px; }
#mask{    background-position: -301px -136px; height: 206px; left: 322px; top: 34px; width: 129px; }
#paper{   width: 140px; height: 183px;  background-position: -497px -5px; }
#biro{   width: 118px; height: 18px; background-position: -5px -5px; top:118px }
#phone{   width: 110px; height: 88px;  background-position: -436px -198px; top:47px }
#photos{    width: 87px; height: 62px; background-position: -556px -198px; left: 220px; top: 187px; }
#tablet{    width: 264px; height: 157px;  background-position: -5px -372px; top:-18px; left:475px; }
#wallet{   width: 94px; height: 61px; background-position: -507px -372px; top:187px; left:436px; }
#piston {   width: 52px;  height: 92px;  background-position: -556px -270px; top:157px; left: 533px; }
#tape {  width: 218px; height: 121px;  background-position: -279px -352px; left: 0;  top: 128px; }




/* COPY */
#textContent{
	width: 194px;
	background-color: #00a0df;
	overflow: hidden;
	right: 190px;
}
.mainCopy p{
	left: 16px;
    width: 163px;
	font-size: 1.7em;
}
	p#c1{
		top:64px;
		font-size: 3.8em;
        line-height: 1em;
		letter-spacing: -.03em;
	}
	p#c2{
		width: 163px;
         top: 72px;
	}
	p#c3{
		top: 54px;
	}
	p#c4{
		top:149px;
		font-weight: bold;
	}

/* FOOTER */
#footer{
	display: block;
	background-color: #003479;
	width: 190px;
	right: 0;
}
.fTxt{
	top:50%;
	left: 16px;
	width: 100%;
	height: 50%;
	font-size: .9em;
}
	#f1{
		top:26px;
		font-size: 1.7em;
	}
	#f2{
		top:76px;
	}
	#f3{
		top:89px;
	}
#logo {
	display: block;
	height: 50%;
	width: 100%;
	background: #fff url(logo.png) no-repeat 54px 12px;
     background-image: url('logo.svg');
    background-size: 83px 95px;
}
#infoClick{
    height: 28px;
    width: 134px;   
    top: 199px;
    left: 793px;
    z-index: 999;
    position: absolute;
}
#disclaimer{
	background-color: #5d245a;
	display: none;
    width: 778px;
}
#disclaimer p{
	top:42px;
	left:20px;
	width: 720px;
    font-size: 1.1em;
}
p#x{
	top:15px;
	left: 730px;
    width: 48px;
}
p#d2{
	top:76px;
}
p#d3{
	top:99px;
}
p#d4{
	top:122px;
}

/* BACKGROUNDS & SPRITESHEET */
#bg { background: url('bg.jpg'); background-repeat: no-repeat; }

.banner_size #container  { width: 968px; height: 248px; }
.banner_size .fullWidth  { width: 968px; }
.banner_size .fullHeight { height: 248px; }