.bg,
.sz,
.t {
    width: 300px;
    height: 250px
}

body,
div,
html {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

#container {
    position: relative;
    overflow: hidden
}

#bg-exit,
.sz div {
    position: absolute
}

#bg-exit {
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer
}


#bg2 {
    background: url(j.jpg) no-repeat #fff;
    background-position: -1px -253px;
}
#bg1 div {
    /*position: absolute;*/
    width:300px;
    height: 15px;
    left:0;
    background: url(j.jpg) no-repeat #fff;
    background-position: -1px -1px;
}
    #bg1 #s2{
        top:15px;
        background-position: -1px -16px;
    }
    #bg1 #s3{
        top:30px;
        background-position: -1px -31px;
    }
    #bg1 #s4{
        top:45px;
        background-position: -1px -46px;
    }
    #bg1 #s5{
        top:60px;
        background-position: -1px -61px;
    }
    #bg1 #s6{
        top:75px;
        background-position: -1px -76px;
    }
    #bg1 #s7{
        top:90px;
        background-position: -1px -91px;
    }
    #bg1 #s8{
        top:105px;
        background-position: -1px -106px;
    }
    #bg1 #s9{
        top:120px;
        background-position: -1px -121px;
    }
    #bg1 #s10{
        top:135px;
        background-position: -1px -136px;
    }
    #bg1 #s11{
        top:150px;
        background-position: -1px -151px;
    }
    #bg1 #s12{
        top:165px;
        background-position: -1px -166px;
    }
    #bg1 #s13{
        top:180px;
        background-position: -1px -181px;
    }
    #bg1 #s14{
        top:195px;
        background-position: -1px -196px;
    }
    #bg1 #s15{
        top:210px;
        background-position: -1px -211px;
    }

.t {
    opacity: 0;
    display: none;
    background: url(p.png) no-repeat
}

#pegi {
    top:177px;
    left:9px;
    width: 33px;
    height: 40px;
    background-position: -1px -83px;
}

#brand {
    top:11px;
    left:9px;
    width: 189px;
    height: 30px;
    background-position: -1px -51px;
}
#cta {
    top:51px;
    left:10px;
    width: 137px;
    height: 23px;
    background-position: -1px -1px;
}
#t1 {
    top:157px;
    left:54px;
    width: 197px;
    height: 48px;
    background-position: -1px -125px;
}
#t2 {
    top:174px;
    left:86px;
    width: 128px;
    height: 20px;
    background-position: -1px -175px;
}
#t3 {
    top:184px;
    left:107px;
    width: 183px;
    height: 32px;
    background-position: -1px -197px;
}