
  
  :root {
    --bg-color: #fafafa;
    --text-color: #2a2a2a;
    --text-color-secondary: #444;
    --heading-colour:#fafafa;
    --bg-heading-primary: #333;
    --bg-heading-secondary: #c2c2c2;

    --job-border-color: #949494;
    --job-border-hover-color: #b7b7b7;
    --job-background-hover-color: #00000005;
    --job-double-border-color: #7b7b7b;

    --image-border: #989898;

    --anchor-color: #ff3366;
    --anchor-hover-color: #555;
    --anchor-hover-shadow: #fafafa;
    --nav-color: #fafafa;
}

.dark-mode {
    --bg-color: #121212;
    --text-color: #fafafa;
    --text-color-secondary: #c7c7c7;
    --bg-heading-primary: #333;
    --bg-heading-secondary: #454545;

    --anchor-color: #e73e84;
    --anchor-hover-color: #bdbdbd;
    --anchor-hover-shadow: #070707;
}

@keyframes rotate {
    to {
        transform: rotate(var(--rotationAmount));
    }
}
.mode_pixel{
    --rotationAmount: 30deg;
    cursor: pointer;
    height: 34px;
    position: absolute;
    right: 0;
    top: 0;
    width: 34px;
}
@media (prefers-reduced-motion: reduce) {
    .mode_pixel {
        --rotationAmount: 0deg;
    }
}
.mode_pixel svg:hover{
    animation: rotate 0.75s infinite ease-in-out alternate;
}
.moon_icon{
    display: none;
}
.sun_icon{
    display: block;
}
body.dark-mode .sun_icon{
    display: none;
}
body.dark-mode .moon_icon{
    display: block;
}

* {
    margin: 0;
}
html {
    --font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  /* Set a global default */
  font-family: var(--font-sans-serif);
}
.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-sans-serif);
    font-weight: 400;
    font-size: 1rem;
}
a {
    text-decoration: none;
    color: var(--anchor-color);
}
a:hover {
    text-decoration: underline;
    color: var(--anchor-hover-color);
}
header {
    margin-bottom: 12px;
    position: relative;
}
header div {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}
.push__top {
    margin-top: 1rem;
}
section {
    margin-top: 3rem;
    margin-bottom: 1rem;
}
section:first-of-type {
    margin-top: 10px;
}
section header {
    background: var(--bg-heading-primary);
    color: var(--heading-colour);
    font-weight: 700;
    padding: 7px 20px;
    width: calc(100% - 40px);
}
section article {
    padding: 20px;
}
section article p {
    margin: 10px 0;
}
section article p:first-of-type {
    margin-top: 0;
}
section article p:last-of-type {
    margin-bottom: 0;
}
section article.news {
    background: var(--bg-heading-secondary);
    text-align: center;
}
section article.news a {
    color: var(--anchor-color);
    filter: drop-shadow(0 0 12px var(--anchor-hover-shadow));
    font-weight: 700;
}
section article.news a:hover {
    filter: drop-shadow(0 0 9px var(--anchor-hover-shadow));
}
blockquote {
    margin: 8px;
    max-width: 800px;
    padding: 5px;
}
blockquote p {
    font-style: normal;
    margin: 0;
}
blockquote p:after,
blockquote p:before {
    content: '"';
    font-size: 1.2em;
    font-weight: 700;
}
blockquote .attribution {
    color: var(--text-color-secondary);
    font-style: italic;
}
blockquote cite {
    font-style: normal;
}
@media only screen and (max-width: 600px) {
    blockquote:not(:first-of-type) {
        display: none;
    }
}
footer {
    background: var(--bg-heading-primary);
    color: var(--heading-colour);
    font-size: .8rem;
    margin-top: 3rem;
    padding: 20px;
    width: calc(100% - 40px);
}
.jobListing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.job {
    align-self: start;
    border: solid 2px var(--job-border-color);
    box-sizing: border-box;
    margin: 0 0 0.6em;
    padding: 10px;
    width: 100%;
}
.job:hover {
    background-color: var(--job-background-hover-color);
    border: solid 2px var(--job-border-hover-color);
}
.job.double {
    border: solid 2px var(--job-double-border-color);
    width: 100%;
}
.job.double:not(:first-of-type) {
    margin-top: 3rem;
}
.job.double:hover {
    background-color: var(--job-background-hover-color);
    border: solid 2px var(--job-border-hover-color);
}
.job.double .client {
    color: var(--anchor-color);
    font-size: 1.25rem;
}
.job.double .thumb {
    margin-top: 1rem;
}
.job.double .job-summary {
    margin: 1.5rem 0;
}
.job.double .job-summary p {
    margin-top: 1rem;
}
@media only screen and (min-width: 800px) {
    .double__inner {
        width: 50%;
        margin: 0 auto;
    }
}
.job .subhead {
    font-weight: 700;
    margin-top: 1.2rem;
}
.job details > summary {
    cursor: pointer;
    list-style: none;
}
.job details > summary::-webkit-details-marker {
    display: none;
}
.job details {
    margin: 0 auto;
    max-width: 800px;
}
.job details summary {
    outline: none;
    position: relative;
    width: 100%;
}
.job details summary .thumb {
    border: thin solid var(--image-border);
    display: block;
    margin: 0.3rem auto 0;
    max-width: 100%;
}
.job details summary:after {
    font-family: "Courier New", Courier, monospace;
    background: var(--text-color);
    border: thin solid var(--image-border);
    color: var(--anchor-color);
    content: "+";
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 0;
    padding: 13px 5px 11px;
    position: absolute;
    right: -4px;
    top: -2px;
}
.job details[open] summary:after {
    content: "-";
}
.tech-stack::before,
.job details section::before {
    display: block;
    content: "Details:";
    font-weight: 700;
}
.tech-stack::before {
    content: "Tech stack:";
}
.job details section p {
    padding: 4px 0;
}
.job details section p.job-award,
.job details section p.job-link {
    padding: 1px 0;
}
.job details section p.tech-stack {
    font-weight: 400;
    padding: 0;
    margin-top: 1.2rem;
}
.job img.secondary {
    border: thin solid var(--image-border);
    display: block;
    margin: 10px auto;
    max-width: 100%;
}
@media only screen and (max-width: 530px) {
    .job img.secondary {
        width: 100%;
    }
}
.job .client {
    font-weight: 700;
}
.job .agency:before {
    content: "@";
}
.job .job-date {
    color: var(--text-color-secondary);
    font-size: .9rem;
}
@media only screen and (min-width: 600px) {
    .job {
        width: calc(50% - 6px);
    }
    .msg_404 {
        text-align: center;
        margin: 3rem auto 0;
    }
    .msg_404 h1 {
        margin-bottom: 1rem;
    }
}

nav{
	background-color: var(--bg-heading-primary);
	display: flex;
	font-weight: 700;
	margin-top: -11px;
	gap: 10px;
}
nav ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 10px 0 10px 12px;
	padding: 0;
}
nav ul li.personal{
	font-weight: 300;
}
nav ul li a {
	color: var(--nav-color);
	display: block;
	padding: 10px 16px;
	text-decoration: none;
}
nav ul li a:hover {
	color: var(--anchor-color);
	text-decoration: underline;
}
@media only screen and (min-width: 600px) {
	nav ul {
		flex-direction: row;
		margin: 0 0 0 12px;
	}
	nav ul li a {
		padding: 14px 16px;
	}
}
