/*	RESET  */
html, body, div, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size:100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
  font-size:10px;
}
/* RESET END */

@font-face {
  font-family: 'StagSans-Medium';
  src: url('StagSans-Medium.eot');
  src: url('StagSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('StagSans-Medium.woff2') format('woff2'),
       url('StagSans-Medium.woff') format('woff'),
       url('StagSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'StagSans-Light';
  src: url('StagSans-Light.eot');
  src: url('StagSans-Light.eot?#iefix') format('embedded-opentype'),
       url('StagSans-Light.woff2') format('woff2'),
       url('StagSans-Light.woff') format('woff'),
       url('StagSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body { background: #EEE; }
body{ cursor:pointer; }
p{
	font-family: 'StagSans-Light', Helvetica, Arial, sans-serif;
}

#container {
	border: 1px solid #CCC;
	display: block;
	background: #FFF;
	overflow: hidden;
	position: relative;
	z-index: 100;
}

#logo,
#ctaCopy,
.mainCopy p,
.item {
	position: absolute;
}
.grfx,
.mainCopy p{
	opacity:0;
}

/* Hide stuff from IE8 (no-opacity fix) */
#copy_1,#copy_2,#copy_3,#copy_4,#copy_5,
#bgF1,#bgF2,#bgF3,#ctaCopy{ opacity:0; display:none; }

#logo {
    height: auto;
    width: 119px;
    right: 16px;
    top: 25px;
}

/* COPY */
.mainCopy {
	color: #333;
	left:10%;
}
.mainCopy p{
	font-size: 2.2em;
	width: 392px;
	left:169px;
	line-height: 1.3em;
  letter-spacing: -.5px;
  text-align: left;
  top:17px;
}

#copy_1{
  top:31px;
}
#copy_4{
    text-align: left;
    font-size: 2.4em;
    top: 16px;
    left: 90px;
    width: 255px;
}

#ctaCopy{
    background: #482972;
    border-radius: 18px;
    height: 36px;
    width: 161px;
    color: #FFF;
    font-size: 13.5px;
    line-height: 36px;
    text-align: center;
    font-family: 'StagSans-Medium', Helvetica, Arial, sans-serif;
    left: 374px;
    top: 26px;
}

/* BACKGROUNDS */
#bgF1 { background: url('fr1.jpg'); }
#bgF2 { background: url('fr2.jpg'); }
#bgF3 { background: url('fr3.jpg'); }

.banner_size #container  { width: 726px; height: 88px; }
.banner_size .fullWidth  { width: 726px; }
.banner_size .fullHeight { height: 88px; }