h1 {
  font-family: $font-serif;
  font-size: $large-font;
  font-weight: $regular;
  line-height: $large-line;

  span {color: $coral;}
}

h2 {
  font-family: $font-sans;
  font-size: $medium-font;
  font-weight: $regular;
  line-height: $medium-line;
}

h3 {
  font-family: $font-serif;
  font-size: $small-font;
  line-height: $medium-line;

  span {font-style: italic;}
}

p, label {
  font-family: $font-sans;
  font-size: $small-font;
  line-height: $small-line;
}
