$font-serif: 'DM Serif Display', serif;
$font-sans: 'DM Sans', sans-serif;

$regular: 400;
$bold: 700;

$small-font: 16px;
$medium-font: 20px;
$large-font: 60px;

$small-line: 19px;
$medium-line: 24px;
$large-line: 72px;


$coral: #FF644E;
$nearly-black: #27262D;
$light-grey: #F8F8F8;
